{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
    
    <!-- Bagian Konten -->
    <div class="container" style="margin-top:3%">
        <div class="container">
            <div class="row">
              <div class="col">
                
                <!-- Definisi BOE -->
                <div class="container mt-5 pt-4 pb-4">
                   <h4>IT WEB FRAMEWORK</h4>
                   <p>Balai Besar Pengembangan Penjaminan Mutu Pendidikan Vokasi Bidang Otomotif dan Elektronika (BBPPMPV BOE) Malang adalah Unit Pelaksana Teknis di bawah Kementerian Pendidikan, Kebudayaan, Riset, dan Teknologi Republik Indonesia</p>
                   <button type="button" class="btn text-white" style="background-color: #373A40;">Pelajari Selengkapnya</button>
                </div>

              </div>
              <div class="col">
                
                <!-- Gambar -->
                <div class="container mt-5 ms-3 ">
                    <img src="../static/img/logo.png" alt="logo-boe">
                </div>

              </div>
            </div>
          </div>
          <br>
          <br>
          <!-- Daftar Kelas -->
          <div class="container mt-5 mb-5 p-3 rounded-2" style="background-color: #EFF3EA;">

            <div class="text-center">
                <h3>Learning Material</h3>
                <p>Daftar materi yang dipelajari dalam pelatihan IT Web Framework BOE Malang</p>
            </div>

            <div class="container mt-5 p-2">
                <div class="container text-center">
                    <div class="row">
                      <div class="col">
                        <img src="../static/img/html5.png" alt="" style="width: 200px;">
                      </div>
                      <div class="col">
                        <img src="../static/img/flask-logo.png" alt="" style="width: 200px;">
                      </div>
                      <div class="col">
                        <img src="../static/img/python.png" alt="" style="width: 200px;">
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>

{% endblock %}
